
.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

/*
display: flex;
justify-content: center;
align-items: center;
*/
/* title */
.title{
    // margin-top: 30px;
}

.title_name {
  font-family: 'Megrim', cursive;
  font-size : 10vw;
  color : black;
  font-weight: bolder;
}

/* intro */
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.intro_saying {
  font-family: "GmarketSansMedium";
  margin-top: 90px;
  font-size: 2vw;
}


